{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
section
{
	position: relative;
	width: 60%;
	min-height: 100vh;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
header
{
	position: absolute;
	top:0;
	left: 0;
	width: 75%;
	padding: 20px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo
{
	position: relative;
	max-width: 145px;
	max-height: 165px;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li a 
{
	display: inline-block;
	color: #333;
	font-weight: 500;
	margin-left: 45px;
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox 
{
	position: relative;
	max-width: 700px;
	margin-left: 45px;
}
.content .textBox h2
{
	color: #333;
	font-size: 4em;
	line-height: 1.4em;
	font-weight: 400;
}
.content .textBox h2 span
{
	color : #f0ebed;
	font-size: 0.7em;
	font-weight: 700;
}
.content .imgBox
{
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	margin-top: 50px;
}
.content .imgBox img
{
	max-width: 350px;
	border-radius: 60%;
}
.sosmed
{
	position: absolute;
	left: 30%;
	bottom: 40px;
	transform: translateX(-20%);
	display: flex;
}
.sosmed li
{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor:pointer;
	transition: 0.5s;
}
.sosmed li:hover
{
	transform: translateY(-20px);
}
.sosmed li img
{
	max-width: 60px;
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #9ba1ab;
	clip-path: circle(600px at center);
	clip-path: polygon(200px at);
}